/* Poppins Font */
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-ExtraLight.woff2') format('woff2'), url('../fonts/Poppins-ExtraLight.woff') format('woff'); font-weight: 200; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Medium.woff2') format('woff2'), url('../fonts/Poppins-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face {font-family: 'Poppins'; src: url('../fonts/Poppins-Thin.woff2') format('woff2'), url('../fonts/Poppins-Thin.woff') format('woff'); font-weight: 100; font-style: normal; font-display: swap; }

/* Oswald Font */
@font-face {font-family: 'Oswald'; src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'), url('../fonts/Oswald-SemiBold.woff') format('woff'); font-weight: 600; font-style: normal; font-display: swap; }
@font-face {font-family: 'Oswald'; src: url('../fonts/Oswald-Bold.woff2') format('woff2'), url('../fonts/Oswald-Bold.woff') format('woff'); font-weight: bold; font-style: normal; font-display: swap; }
@font-face {font-family: 'Oswald'; src: url('../fonts/Oswald-Regular.woff2') format('woff2'), url('../fonts/Oswald-Regular.woff') format('woff'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face {font-family: 'Oswald'; src: url('../fonts/Oswald-Light.woff2') format('woff2'), url('../fonts/Oswald-Light.woff') format('woff'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face {font-family: 'Oswald'; src: url('../fonts/Oswald-Medium.woff2') format('woff2'), url('../fonts/Oswald-Medium.woff') format('woff'); font-weight: 500; font-style: normal; font-display: swap; }
.oswald{font-family: 'Oswald';}

/* General CSS */
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; display: inline-block; transition:  0.2s ease-in;}
a:hover{text-decoration: none;}
body{font-size: 18px;color: #172646; font-family: 'Poppins'; line-height: 1.8;  font-weight: 400;}
html{scroll-behavior: smooth;}
button{outline: 0; border: 0; background: transparent;}
.container{max-width: 1200px;}
h1{font-size: 60px; line-height: 1.3 !important; font-weight: 400;}
h2{font-size: 45px; line-height: 1.3 !important; font-weight: 400;}
h3{font-size: 35px; line-height: 1.3 !important; font-weight: 400;}
h4{font-size: 30px; line-height: 1.3 !important; font-weight: 400;}
h5{font-size: 25px; line-height: 1.3 !important; font-weight: 400;}
h6{font-size: 19px; line-height: 1.3 !important; font-weight: 400;}
[tabindex="-1"]:focus {
      outline: 1;
  }
  
.font-300{font-weight: 300;}
.font-400{font-weight: 400;}
.font-500{font-weight: 500;}
.font-600{font-weight: 600;}
.font-700{font-weight: 700;}
.border-r5{border-radius: 5px;}
.border-r10{border-radius: 10px;}
.border-r20{border-radius: 20px;}
.border-r30{border-radius: 30px;}
.border-r50{border-radius: 50px;}
.border-50{border-radius: 100%;}
.form-control{border-radius: 0; border: 0; background-color: transparent;}
.form-control:focus{box-shadow: none; outline: 0;}
.relative{position: relative;}
.form-control::placeholder{color: #BEC2CE;}
select:focus{outline: 0;}
.text-underline{text-decoration: underline !important;}
.pointer{cursor: pointer;}
.zindex-0{z-index: 0;}
.zindex-1{z-index: 1;}
.zindex-m1{z-index: -1;}
.t-green{color: #FF6161;}
.t-black{color: #172646;}
.t-grey{color: #79869F;}
.bg-grey{background-color: #f9f8f6;}
.bg-green{background-color: #FF6161;}
.grey-link{color: #454545;}
.grey-link:hover{color: #FF6161; text-shadow: 0 0 1px #FF6161;}
.grey-link2{color: #c6c6c6;}
.grey-link2:hover{color: #FF6161; text-shadow: 0 0 1px #FF6161;}
.green-link{color: #FF6161;}
.green-link:hover{color: #FF6161; text-shadow: 0 0 1px #FF6161;}
.btn-green{font-family: 'Oswald'; padding: 10px 35px; border-radius: 10px; color: #fff; background-color: #FF6161; font-size: 18px; border: 2px solid #FF6161; display: inline-block; text-align: center; min-width: 150px; line-height: 22px;}
.btn-green:hover {color: #FF6161; background-color: transparent;}
.btn-green2{font-family: 'Oswald'; padding: 10px 35px; border-radius: 50px; color: #FF6161; background-color: transparent; font-size: 18px; border: 2px solid #FF6161; display: inline-block; text-align: center; min-width: 150px; line-height: 22px;}
.btn-green2:hover {color: #fff; background-color: #FF6161;}
.btn-yellow{font-family: 'Oswald'; padding: 10px 35px; border-radius: 50px; color: #172646; background-color: #fad13e; font-size: 18px; border: 2px solid #fad13e; display: inline-block; text-align: center; min-width: 165px; line-height: 22px; box-shadow: 0 2px #9f8630c7;}
.btn-yellow:hover {color: #fad13e; background-color: transparent; box-shadow:none;}
.btn-white{font-family: 'Oswald'; padding: 10px 15px; border-radius: 50px; color: #fff; background-color: transparent; font-size: 18px; border: 2px solid #fff; display: inline-block; text-align: center; min-width: 180px;}
.btn-white:hover {color: #fff;}

/* Site Branding */
.site-logo {max-width: 100px;}
.site-branding{padding-top: 15px;}
.site-branding .site-title a {font-size: 25px; color: #fff;}
h2.site-title,
h2.site-title a{color: #fff;}
.bloggerwp_post_title:hover a{color: #ff6161}
/* Header CSS */
.bloggerwp_header {background-color: #172646;}
.bloggerwp_header_sec{margin:0 auto;}
.menu .navbar-nav li a{color: #fff;}
.menu .navbar-nav li.active a, .menu .navbar-nav li a:hover {color: #FF6161; text-shadow: 0 0 1px #FF6161; }
.menu .navbar-nav li{margin: 05px 10px; position: relative;padding: 10px 0;}
.sub-menu {position: absolute;list-style: none; display: none; right: auto; left: 0; border-top: 1px solid #FF6161; margin: 0; min-width: 245px;z-index: 9999; background: #252728; padding: 0px; }
.sub-menu .sub-menu{position: relative;}
.menu li:hover ul li{padding: 5px 0;}
.menu li:hover ul { display: block; }
.menu .navbar-nav li.current-menu-item ul a{color: #fff;}
.menu .navbar-nav li ul li a{color: #fff;}
.header-right-section img{width: 35px; height: 35px;}
.navbar-brand {max-width: 260px;}
.navbar-expand-lg {justify-content: space-between;}
.navbar-expand-lg .navbar-collapse {justify-content: flex-end;}
.menu-item-has-children:focus ul, .menu-item-has-children:focus-within ul{display: block;}
.menu .navbar-light .navbar-toggler-icon {background-image: url(../images/menu.png); background-size: 22px;}
.navbar-light .navbar-toggler{border-color: #fff !important;}   
.menu-item-has-children > a::after {content: "+";display: inline-block !important;font-size: 18px;left: 10px;position: relative;font-family: "FontAwesome";color: #fff;font-style: normal;cursor: pointer;}
.menu-item-has-children:focus-within .sub-menu {display: initial;visibility: visible;}
 .primary-navigation > .menu-all-pages-container {position: absolute;visibility: visible;opacity: 1;transform: translateY(0);}
/* Search Box */
.search-field-form {padding: 5px; display: flex; background-color: white; box-shadow: 0 0 10px grey; border-radius: 5px; opacity: 0; visibility: hidden; position: absolute; transition: all 0.3s ease-in-out !important; right: 0; bottom: -150px; z-index: 1; }
.header-search .form-active {opacity: 1; visibility: visible; bottom: -105px; }
.header-search input {border: 0; outline: 0; }
.search-field-form input[type="text"] {min-height: 50px; width: 400px; border: 1px solid #FF6161; padding: 0px 10px; border-bottom-left-radius: 5px; border-top-left-radius: 5px; font-size: 16px; }
.search-field-form input[type="text"]::placeholder{color: #B2B2B2;}
.search-field-form input[type="submit"] {min-height: 50px; color: white; padding: 0px 20px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; font-size: 16px; background: #FF6161;}
.search-field-form input[type="submit"]:focus {border: 1px solid white;}
.search-form {padding: 5px; display: flex; background-color: white; transition: all 0.3s ease-in-out !important; right: 0; bottom: -150px; z-index: 1; }
.search-form label {margin: 0;}
.search-form input[type="search"] {min-height: 50px; width: 400px; border: 1px solid #FF6161; padding: 0px 10px; border-bottom-left-radius: 5px; border-top-left-radius: 5px; font-size: 16px; }
.search-form input[type="search"]::placeholder{color: #B2B2B2;}
.search-form input[type="submit"] {min-height: 50px; color: white; padding: 0px 20px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; font-size: 16px; background: #FF6161;}

/* Comment Form */
.comment-meta {
    background-color: unset;
}
.comment-meta a,
.reply a,
.comment-respond a {
    color: #FF6161;
    font-weight: bold;
    text-decoration: underline;
}
.comment-meta .comment-author img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#respond h3 {
    font-size: 20px;
}
#respond h3 small {margin-left: 10px;}

/* Page Content */
.bloggerwp-page {padding: 50px 0;}
.bloggerwp-post article{border-bottom: 1px solid #FF6161; margin-bottom: 15px;background: transparent;border: 1px solid #172646;padding: 20px;border-radius: 20px;}
.page-header {border-bottom: 2px solid #FF6161; margin-bottom: 20px;}

/* Search Page */
.bloggerwp-search .page-header { border-bottom: 2px solid #FF6161;}
.bloggerwp-search a { color: #172646;}
.bloggerwp-search a:hover { color: #FF6161;}

/* Page Links CSS */
h2.entry-title a {color: #172646;}
.nav-links a,.entry-meta a,.entry-content a,.readmore-meta a,.page-content a,.comment-form a {color: #FF6161;font-weight: bold;text-decoration: underline;}

/* Comment Form Input */
.comment-form input[type="submit"] {
  background: transparent;
  color: #FF6161;
  padding: 10px 15px;
  border: 1px solid #FF6161;
}
.comment-form input[type="submit"]:hover ,.comment-form input[type="submit"]:focus{
  background: #FF6161;
  color: #fff;
}
.bloggerwp_short_info p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.navigation.posts-navigation {
  width: 100%;
}
/* Widget */
.widget-area a {color: #FF6161;font-weight: bold;}
.widget-area ul {list-style-type: unset;
}
/* Blog Details */
.single-post .submit:focus {
  text-decoration: underline;
}
/*Back to Top*/
.go-top {
  position:fixed;
  bottom: 20%;
  right: 3%;
  padding:20px;
  display:none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
.go-top-text {
  position: absolute;
  width: 44px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 3px;
  font-size: 3px;
  margin: 20px 0 0 -4px;
  background: #FF6161;
  border-radius: 50%;
}
.go-top-text:hover{
  background: transparent;
  border: 1px solid #FF6161;
}
.go-top-text:hover svg{
   stroke: #FF6161;
}

/* Footer */
footer{background-color: #172646;}
.bloggerwp-footer .widget{margin: 0;}
.bloggerwp-footer p,
.bloggerwp-footer h2,
.bloggerwp-footer h3,
.bloggerwp-footer h4,
.bloggerwp-footer h5,
.bloggerwp-footer h6,
.bloggerwp-footer a,
.bloggerwp-footer span {
    color: #fff;
    margin-bottom: 5px;
}
.bloggerwp-footer{
  padding-top:3rem;
  padding-bottom:3rem;
}
.bloggerwp-footer > div {
  padding-bottom: 30px;
}
/* Footer Copyright */
.bloggerwp_footer_copyright{
  background: #ff6161;
}
.bloggerwp_footer_copyright.p-3.text-center {
  position: absolute;
  width: 100%;
}
.copyright_text.text-white {
  position: relative;
}
/* Blog List & Details */ 
.bloggerwp_listing {
  border: 1px solid #172646;
  border-radius: 20px;
  width:100%;
}
.bloggerwp_post_title{
  margin-left: -5px;
}
.bloggerwp_post_list {
   padding-left: 20px;
  padding-right: 20px;
}
.comment-form p label{ display:block; }
.comment-form p.comment-form-author input, .comment-form p.comment-form-email input, .comment-form p.comment-form-url input{ width:100%; }
.comment-form-comment textarea { max-height: 120px;resize: none; }
.comment-form-cookies-consent { display: flex; }
.comment-form-cookies-consent label { margin-left:10px;margin-bottom:0px !important; }

/* Wooble Vertical Effect */
@-webkit-keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.wobble-vertical-on-hover {
  display: inline-block;
  vertical-align: middle;
 
}
.wobble-vertical-on-hover:hover, .wobble-vertical-on-hover:focus, .wobble-vertical-on-hover:active {
  -webkit-animation-name: wobble-vertical-on-hover;
  animation-name: wobble-vertical-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* WooCommerce CSS */
.button , .wp-element-button, .add_to_cart_button{
  background:#FF6161 !important;
  color: #fff !important;
  border: 1px solid #ff6161 !important;
}
.button:hover , .wp-element-button:hover, .add_to_cart_button:hover{
  background:#172646 !important;
  border: 1px solid #172646 !important;
}
.woocommerce-Price-amount.amount {
  color: #172646;
  font-weight: 600;
}
.woocommerce-loop-product__title{
  color: #ff6161 !important;
    font-weight:bold;
}
.woocommerce-loop-product__title:hover,.woo-product:hover .woocommerce-loop-product__title{
  color: #172646 !important;
}
.page-title.bloggerwp_shop_banner_sec {
  padding: 5rem !important;
  text-align: center;
  color: #fff !important;
  background: #ff6161 !important;
  font-size: 3em !important;
  font-weight: bold !important;
}
.bloggerwp_shop_main_sec.container {
  margin-top: 4rem;
}
.shop_grid .product {
  padding-top:50px;
}
.single-product .row.related_products_list > h3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight:bold;
}

.add_to_cart_button,
.product_type_external,
.single_add_to_cart_button,
.product_type_grouped,
.form-row.place-order button.button,
.comment-form .submit,
.bloggerwp_button_checkout,
.woocommerce-message .wc-forward,
.bloggerwp_apply_coupon_btn,
.woocommerce-form-register__submit,
.woocommerce-form-login__submit,
.checkout_coupon.woocommerce-form-coupon button,
.woocommerce-shipping-totals.shipping button,
.woocommerce-Button,
.woocommerce-button,
a.button.wc-backward {
  background: #ff6161 !important;
  color: #fff !important;
  border: 1px solid #ff6161 !important;
}

.checkout_coupon.woocommerce-form-coupon button {
  padding: 0.9em 1em;
}

.add_to_cart_button:hover,
.product_type_external:hover,
.single_add_to_cart_button:hover,
.product_type_grouped:hover,
.form-row.place-order button.button:hover,
.woocommerce-message .wc-forward:hover,
.bloggerwp_apply_coupon_btn:hover,
a.bloggerwp_button_checkout.checkout-button.button:hover,
.woocommerce-form-register__submit:hover,
.woocommerce-form-login__submit:hover,
.checkout_coupon.woocommerce-form-coupon button:hover,
.woocommerce-shipping-totals.shipping button:hover,
.woocommerce-Button:hover,
.woocommerce-button:hover,
a.button.wc-backward:hover {
  color: #ff6161 !important;
  background: transparent !important;
}

.add_to_cart_button{
  width: 100%;
  text-align: center;
}
.added_to_cart.wc-forward {
  width: 100%;
  text-align: center;
  margin-left: 0px !important;
  margin-top: 20px;
}

.woocommerce-checkout .wc-block-components-form .wc-block-components-text-input input:autofill + label, .woocommerce-checkout .wc-block-components-form .wc-block-components-text-input.is-active label, .woocommerce-checkout .wc-block-components-text-input input:autofill + label, .woocommerce-checkout .wc-block-components-text-input.is-active label
.woocommerce-checkout .wc-block-components-combobox.is-active .wc-block-components-combobox-control label.components-base-control__label, .woocommerce-checkout .wc-block-components-combobox:focus-within .wc-block-components-combobox-control label.components-base-control__label, .woocommerce-checkout .wc-block-components-form .wc-block-components-combobox.is-active .wc-block-components-combobox-control label.components-base-control__label, .woocommerce-checkout .wc-block-components-form .wc-block-components-combobox:focus-within .wc-block-components-combobox-control label.components-base-control__label
{
  display: none;
}
.woocommerce-checkout .wc-block-components-address-form-wrapper input, .woocommerce-checkout  .wc-block-components-address-form input{
  height: 60px;
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  padding-left: 0;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
  color: #ff6161 !important;
}

button.woocommerce-Button.button.wp-element-button {
  margin-top: 20px;
}

.woocommerce-form.woocommerce-form-register.register {
  margin-bottom: 0px !important;
}

nav.woocommerce-MyAccount-navigation ul {
  margin-left: 0px !important;
  list-style: none;
  padding-left: 0px;
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link {
  padding-bottom: 15px;
}

.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link:last-child {
  padding-bottom: 0px;
}

.woocommerce-LostPassword.lost_password,
.woocommerce-button.button.woocommerce-form-login__submit.wp-element-button {
  margin-top: 15px;
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
  padding-top: 20px;
  padding-bottom: 14px;
}

.wc-proceed-to-checkout {
  padding-bottom: 0px !important;
}

form.checkout.woocommerce-checkout {
  padding: 0px;
}

.woocommerce ul.products li.product .onsale {
  z-index: 1;
}

.woocommerce div.product form.cart .variations select {
  margin-bottom: 20px;
  padding: 10px;
}

.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
  line-height: 3rem;
}

.woocommerce-cart .coupon>input,
.woocommerce-cart .coupon>input {
  width: 148px !important;
  max-height: 38px !important;
}

.woocommerce-cart-form__contents .wp-element-button {
  color: #ff6161 !important;
  background: transparent !important;
  border: 1px solid #ff6161 !important;
}

.woocommerce-cart-form__contents .wp-element-button:hover,
a.added_to_cart.wc-forward:hover {
  background: #ff6161 !important;
  color: #fff !important;
}

.single-product .input-text.qty.text {
  max-height: 42px;
}
.row.related_products_list {
  padding-left: 15px;
  padding-right: 15px;
}
.woocommerce-message::before,
.woocommerce-info::before {
  color: #ff6161;
}

.woocommerce-message,
.woocommerce-info {
  border-top-color: #ff6161;
}

h2.woocommerce-loop-product__title {
  font-size: 24px !important;
}

.single-product .bloggerwp_product_details {
  padding-left: 0px;
}
.onsale {
  background: #ff6161 !important;
  z-index: 1 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ccc;
}

.post-type-archive-product main {
  display: unset !important;
}

tr.woocommerce-table__line-item.order_item ul {
  margin-left: 0px;
  padding-left: 0;
}

.woocommerce .quantity .qty {
  line-height: 17px;
}

.bloggerwp_shop_banner_sec {
  margin: 0px;
}

.bloggerwp_product_details{
  padding: 5rem 20px;
}

.bloggerwp_related_products {
  margin-bottom: 0px;
}

.single-product .bloggerwp_related .product {
  margin-bottom: 0px !important;
}

.single-product nav.woocommerce-breadcrumb {
  margin-bottom: 30px !important;
}

.single-product nav.woocommerce-breadcrumb a {
  color: #ff6161 !important;
}

a.added_to_cart.wc-forward {
  margin-left: 32px;
  color: #ff6161 !important;
  background: transparent !important;
  border: 1px solid #ff6161;
  padding: 0.23em 1em;
  font-weight: 700;
  border-radius: 3px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span {
  background: #ff6161 !important;
  color: #fff !important;
  border: none !important;
  padding: 10px;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  min-width: 2.5em;
  line-height: 1.2;
  font-size: 1em;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
  padding: .55em !important;
}
.post-type-archive-product.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
  margin-top: 0px !important;
  margin-bottom: 2rem;
}

.post-type-archive-product form.woocommerce-ordering select,
.tax-product_cat form.woocommerce-ordering select {
  padding: 5px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  padding: 10px !important;
}

.select2-container .select2-selection--single { height: auto !important; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 44px !important; } 
ul.tabs.wc-tabs li a:focus { outline: none !important; }
.woocommerce div.product .woocommerce-tabs ul.tabs { padding-left: 0; }
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before { border: none !important;}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before { box-shadow: none !important; }
.woocommerce div.product .woocommerce-tabs ul.tabs li { background: #fff; margin: unset; }
.woocommerce div.product .woocommerce-tabs ul.tabs li.active { background: #ff6161; color: #fff;}
.woocommerce-cart .woocommerce .container { padding-left: 0px; }
a.bloggerwp_button_checkout.checkout-button { margin-bottom: 0px !important;}
.woocommerce-account .has_sidebar_in_page .page,
.woocommerce-cart .has_sidebar_in_page .page,
.woocommerce-checkout .has_sidebar_in_page .page { width: 100% !important; }
.woocommerce-pagination{margin-bottom:4rem;}
.summary.entry-summary{margin-top:0px;}
.woocommerce form .form-row{ display:block; }
.checkout.woocommerce-checkout.container .col2-set .col { padding-left: 0px !important;padding-right:0px !important; }
#ship-to-different-address { font-size: 20px !important;margin-top: 20px; }
#order_review_heading { font-size: 28px !important; margin-top: 20px; margin-bottom: 20px;font-weight: bold; }

@media (max-width: 767px) {
  
  .bloggerwp_apply_coupon_btn.button.wp-element-button { font-size: 13.5px; line-height: 1.3; }
  .page-title.bloggerwp_shop_banner_sec{ font-size:1.5rem !important; }
  .woocommerce-cart .woocommerce .container { padding-right: 0px; }
  #customer_login div.u-column1 h2 { margin-top: 0px; }
  .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li { width: 100%; margin-bottom: 25px; }
  .bloggerwp_inner_page,
  .bloggerwp_shop_banner_sec { max-height: unset; }
  .bloggerwp_product_details { padding-left: 0px; padding-right: 0px; }
  
}

@media (max-width: 768px) {
  
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product { width: 100%; }
  .single-product .bloggerwp_product_details { padding-right: 0px; }
  .single-product .bloggerwp_related .product { margin-bottom: 50px !important; }
  
}